@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
  color: #6f7f9b
}

h3 {
    font-weight: 700;
    font-size: 1.125rem;
}

p {
    font-size: 0.875rem;
}
